.full-quote-page {
    min-height: 100vh;
    background-color: var(--white-color);
    padding-bottom: 300px;
}

.full-quote-page .full-quote-page-header {
    height: 70px;
    background-color: transparent;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 99;
}

.full-quote-page .full-quote-page-header svg {
    font-size: 30px;
    cursor: pointer;
}

.full-quote-page .full-quote-page-header h2 {
    text-transform: uppercase;
    flex: 0.9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.full-quote-page .full-quote-page-content {
    color: var(--white-color);
    background: url("../image/Banner-Image.jpg"), linear-gradient(var(--primary-color), var(--secondary-color));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 20px 200px 20px;
    text-align: start;
    position: relative;
}

.full-quote-page .full-quote-page-content .full-quote-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    margin: 50px 0 20px 0;
}

.full-quote-page .full-quote-page-content .full-quote-heading h3 {
    font-size: 18px;
    font-weight: normal;
}

.full-quote-page .full-quote-page-content .full-quote-heading button {
    background-color: transparent;
    padding: 10px 20px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.full-quote-page .full-quote-page-content .full-quote-heading button:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.full-quote-page .full-quote-page-content .quote-details {
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: left;
}

.full-quote-page .full-quote-page-content .quote-details img {
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid white;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(5px);
}

.full-quote-page .full-quote-page-content .quote-details-content {
    flex: 1;
}

.full-quote-page .full-quote-page-content .quote-details-content h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.full-quote-page .full-quote-page-content .quote-details-content .quote-content-inner {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.full-quote-page .full-quote-page-content .quote-details-content p {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
}

.full-quote-page .full-quote-page-content .quote-details-content p span {
    font-weight: 500;
    display: block;
}

.full-quote-page .full-quote-page-content .full-quote-pricing {
    color: var(--black-color);
    background-color: var(--white-color);
    margin: 0 20px;
    border-radius: 10px;
    position: absolute;
    top:  70%;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-heading h2 {
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s all;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-heading:hover h2 {
    color: var(--secondary-color);
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-heading p {
    font-size: 12px;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-heading svg {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content {
    padding: 20px;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content div:nth-child(2) {
    margin-bottom: 15px;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content div p {
    font-size: 14px;
}
.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content div span {
    font-weight: bold;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content .pricing-total {
    padding-top: 10px;
    border-top: 2px solid #e0e0e0;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content .pricing-total div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    margin: 0;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content button {
    width: 100%;
    color: var(--btn-hover-color);
    padding: 15px 20px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all;
}

.full-quote-page .full-quote-page-content .full-quote-pricing .pricing-content button:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.full-quote-page .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 575px;
    width: 100%;
    margin: 0 auto;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.full-quote-page .fixed-bottom .total-price {
    text-align: start;
}

.full-quote-page .fixed-bottom .total-price p {
    font-size: 18px;
    font-weight: bold;
}

.full-quote-page .fixed-bottom .total-price span {
    font-size: 12px;
    font-weight: 400;
}

.full-quote-page .fixed-bottom .place-order-btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s all;
}

.full-quote-page .fixed-bottom .place-order-btn:hover {
    color: var(--white-color);
    background-color: var(--btn-hover-color);
    box-shadow: 0 0 5px 0 var(--white-color);
}



/* Drawer  */

.css-gq1um1-MuiPaper-root-MuiDrawer-paper {
    width: 100%;
    max-width: 575px;
    max-height: 90vh !important;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.drawer-content {
    padding: 0 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.drawer-content .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    z-index: 9;
    padding: 15px 0 10px 0;
}

.drawer-content .drawer-header h2 {
    font-size: 20px;
    font-weight: bold;
}

.drawer-content .drawer-header svg {
    font-size: 24px;
    cursor: pointer;
}

.drawer-content .drawer-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px 0;
}

.drawer-content .drawer-body > div {
    padding: 5px 0;
}

.drawer-content .drawer-body p {
    font-size: 16px;
    margin: 5px 0;
}

.drawer-content .drawer-body .quote-section {
    padding: 10px 0;
}

.drawer-content .drawer-body .quote-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.drawer-content .drawer-body .quote-section p {
    font-size: 16px;
    margin: 5px 0;
}

.drawer-content .drawer-body div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.drawer-content .drawer-body div:nth-child(2) {
    margin-bottom: 15px;
}

.drawer-content .drawer-body div span {
    font-weight: bold;
}

.drawer-content .drawer-body h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.drawer-content .drawer-footer {
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.drawer-content .total-cost {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drawer-content .total-cost span {
    font-size: 18px;
    font-weight: bold;
}

.drawer-tabs {
    margin: 0 auto;
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    position: relative;
    outline: none;
}

.drawer-tabs .tab-buttons {
    display: flex;
    position: relative;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}

.drawer-tabs .tab-btn {
    flex: 1;
    padding: 10px 20px;
    background: none;
    border: none;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
}

.drawer-tabs .tab-btn.active {
    color: var(--white-color);
    font-weight: bold;
}

.drawer-tabs .tab-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
    z-index: 0;
}