.App {
  text-align: center;
}
:root{
  --primary-color: #111741;
  --secondary-color: #0080f0;
  --btn-hover-color: #253086;
  --white-color: white;
  --black-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background:linear-gradient(black,black, var(--primary-color)); */
  background-color: black;
  color: var(--white-color);
  font-family: Arial, sans-serif;
}
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(var(--primary-color), var(--primary-color), var(--white-color), var(--white-color));
  box-shadow: 0 0 10px 0 var(--white-color);
  max-width: 575px;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}